* {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --primary-font: "Poppins", sans-serif;
  /* Colors  */
  --body-background-color: hsl(220, 21%, 95%);
  --input-background-color: hsl(220, 27%, 89%);
  --text-color: hsl(40, 12%, 29%);
  --cta-color: hsl(228, 38%, 26%);
  --cta-color-hover: hsl(228, 28%, 36%);
  --li-color: hsl(43, 100%, 99%);
  --li-color-hover: hsl(348, 51%, 38%);
  /* Padding  */
  --padding: 15px;
  /* Border radius  */
  --radius: 8px;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--body-background-color);
  color: var(--text-color);
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 100px auto;
  gap: 15px;
}

.main-header {
  font-size: 2.5rem;
  margin: 8px 0;
  text-align: center;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

/* User input  */

.input-field,
.add-button {
  border: none;
  padding: var(--padding);
  border-radius: var(--radius);
  font-size: 20px;
  font-family: var(--primary-font);
  cursor: pointer;
}

.input-field {
  color: var(--text-color);
  background-color: var(--input-background-color);
}

.add-button {
  text-align: center;
  color: var(--body-background-color);
  background-color: var(--cta-color);
}

button:hover {
  background-color: var(--cta-color-hover);
}

/* Shopping List  */

.shopping-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shopping-list li {
  font-size: 20px;
  background-color: var(--li-color);
  padding: var(--padding);
  border-radius: var(--radius);
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.shopping-list li:hover {
  background-color: var(--li-color-hover);
  color: var(--body-background-color);
  cursor: pointer;
}

/* Media queries  */
@media only screen and (max-width: 400px) {
  .container {
    margin: 100px 15px;
  }
}
